In [1]:
import wbgapi as wb
import pandas as pd
import numpy as np

In [2]:
indicators_wb = ["Access to electricity (% of population)",
                 "GDP per capita (constant 2015 US$)",
                 "People using at least basic drinking water services (% of population)",
                 "Rural population (% of total population)",
                 "PM2.5 air pollution, population exposed to levels exceeding WHO guideline value (% of total)",
                 "Mortality rate, under-5 (per 1,000 live births)"
                ]

dict_wb = {}
wb_series = wb.series.info()

In [3]:
for i in wb_series.items:
    if i["value"] in indicators_wb:
        dict_wb[i["id"]] = i["value"]
    
for k, v in dict_wb.items():
    print(f"{k} : {v}")

EG.ELC.ACCS.ZS : Access to electricity (% of population)
EN.ATM.PM25.MC.ZS : PM2.5 air pollution, population exposed to levels exceeding WHO guideline value (% of total)
NY.GDP.PCAP.KD : GDP per capita (constant 2015 US$)
SH.DYN.MORT : Mortality rate, under-5 (per 1,000 live births)
SH.H2O.BASW.ZS : People using at least basic drinking water services (% of population)
SP.RUR.TOTL.ZS : Rural population (% of total population)

In [5]:
wb_indicators= []

EG_ELC_ACCS_ZS = wb.data.DataFrame('EG.ELC.ACCS.ZS', time=2015)
wb_indicators.append(EG_ELC_ACCS_ZS)

EN_ATM_PM25_MC_ZS = wb.data.DataFrame('EN.ATM.PM25.MC.ZS', time=2015)
wb_indicators.append(EN_ATM_PM25_MC_ZS)

NY_GDP_PCAP_KD = wb.data.DataFrame('NY.GDP.PCAP.KD', time=2015)
wb_indicators.append(NY_GDP_PCAP_KD)

SH_DYN_MORT = wb.data.DataFrame('SH.DYN.MORT', time=2015)
wb_indicators.append(SH_DYN_MORT)

SH_H2O_BASW_ZS = wb.data.DataFrame('SH.H2O.BASW.ZS', time=2015)
wb_indicators.append(SH_H2O_BASW_ZS)

SP_RUR_TOTL_ZS = wb.data.DataFrame('SP.RUR.TOTL.ZS', time=2015)
wb_indicators.append(SP_RUR_TOTL_ZS)

In [6]:
full_data_table = pd.merge(EG_ELC_ACCS_ZS, EN_ATM_PM25_MC_ZS, how="left", on="economy")
for i in wb_indicators[2:]:
    full_data_table = pd.merge(full_data_table, i, how="left", on="economy")
    
print(full_data_table)

         EG.ELC.ACCS.ZS  EN.ATM.PM25.MC.ZS  NY.GDP.PCAP.KD  SH.DYN.MORT  \
economy
ABW          100.000000                NaN    28421.386493          NaN
AFE           33.744405              100.0     1540.850354    69.138157
AFG           71.500000              100.0      592.476537    70.400000
AFW           46.750946              100.0     1876.623483   107.291693
AGO           42.000000              100.0     3100.830685    88.100000
...                 ...                ...             ...          ...
XKX           99.860001                NaN     3520.766449          NaN
YEM           67.310928              100.0     1488.416482    60.700000
ZAF           85.300003              100.0     6204.929901    36.300000
ZMB           31.100000              100.0     1307.909649    67.700000
ZWE           33.700001              100.0     1410.329174    61.300000

         SH.H2O.BASW.ZS  SP.RUR.TOTL.ZS
economy
ABW           97.869023       56.892000
AFE           54.908325       65.574419
AFG           61.339781       75.197000
AFW           66.489826       55.194137
AGO           54.316928       36.554000
...                 ...             ...
XKX                 NaN             NaN
YEM           55.778869       65.223000
ZAF           91.876344       35.172000
ZMB           61.338746       58.093000
ZWE           64.954929       67.615000

[266 rows x 6 columns]

In [7]:
variables =""

for i in full_data_table.columns:
    variables = f" {variables} {i} /"

new_names = variables.replace(".", "_").strip().split("/")
print(new_names)

['EG_ELC_ACCS_ZS ', ' EN_ATM_PM25_MC_ZS ', ' NY_GDP_PCAP_KD ', ' SH_DYN_MORT ', ' SH_H2O_BASW_ZS ', ' SP_RUR_TOTL_ZS ', '']

In [9]:
full_data_table = full_data_table.rename(columns= {"EG.ELC.ACCS.ZS": "EG_ELC_ACCS_ZS",  "EN.ATM.PM25.MC.ZS": "EN_ATM_PM25_MC_ZS",
                                                   "NY.GDP.PCAP.KD": "NY_GDP_PCAP_KD", "SH.DYN.MORT": "SH_DYN_MORT",
                                                   "SH.H2O.BASW.ZS": "SH_H2O_BASW_ZS", "SP.RUR.TOTL.ZS":"SP_RUR_TOTL_ZS" })

full_data_table['poor'] = np.where(full_data_table['NY_GDP_PCAP_KD']<5000, 1, 0)
full_data_table['rich'] = np.where(full_data_table['NY_GDP_PCAP_KD']>30000, 1, 0)

print(full_data_table)

         EG_ELC_ACCS_ZS  EN_ATM_PM25_MC_ZS  NY_GDP_PCAP_KD  SH_DYN_MORT  \
economy
ABW          100.000000                NaN    28421.386493          NaN
AFE           33.744405              100.0     1540.850354    69.138157
AFG           71.500000              100.0      592.476537    70.400000
AFW           46.750946              100.0     1876.623483   107.291693
AGO           42.000000              100.0     3100.830685    88.100000
...                 ...                ...             ...          ...
XKX           99.860001                NaN     3520.766449          NaN
YEM           67.310928              100.0     1488.416482    60.700000
ZAF           85.300003              100.0     6204.929901    36.300000
ZMB           31.100000              100.0     1307.909649    67.700000
ZWE           33.700001              100.0     1410.329174    61.300000

         SH_H2O_BASW_ZS  SP_RUR_TOTL_ZS  poor  rich
economy
ABW           97.869023       56.892000     0     0
AFE           54.908325       65.574419     1     0
AFG           61.339781       75.197000     1     0
AFW           66.489826       55.194137     1     0
AGO           54.316928       36.554000     1     0
...                 ...             ...   ...   ...
XKX                 NaN             NaN     1     0
YEM           55.778869       65.223000     1     0
ZAF           91.876344       35.172000     0     0
ZMB           61.338746       58.093000     1     0
ZWE           64.954929       67.615000     1     0

[266 rows x 8 columns]

In [10]:
full_data_table.to_csv(path_or_buf="./datacsv/wb_data.csv")