In [53]:
import wbgapi as wb
import pandas as pd
import matplotlib.pyplot as plt

In [54]:
indicators_wb = ["Suicide mortality rate (per 100,000 population)",
                 "Access to electricity (% of population)",
                 "GDP per capita (constant 2015 US$)",
                 "People using at least basic drinking water services (% of population)",
                 "Rural population (% of total population)",
                 "PM2.5 air pollution, population exposed to levels exceeding WHO guideline value (% of total)",
                 "Population growth (annual %)",
                 "Population, total"
                ]

dict_wb = {}
wb_series = wb.series.info()

In [55]:
for i in wb_series.items:
    if i["value"] in indicators_wb:
        dict_wb[i["id"]] = i["value"]
    
for k, v in dict_wb.items():
    print(f"{k} : {v}")

EG.ELC.ACCS.ZS : Access to electricity (% of population)
EN.ATM.PM25.MC.ZS : PM2.5 air pollution, population exposed to levels exceeding WHO guideline value (% of total)
NY.GDP.PCAP.KD : GDP per capita (constant 2015 US$)
SH.H2O.BASW.ZS : People using at least basic drinking water services (% of population)
SH.STA.SUIC.P5 : Suicide mortality rate (per 100,000 population)
SP.POP.GROW : Population growth (annual %)
SP.POP.TOTL : Population, total
SP.RUR.TOTL.ZS : Rural population (% of total population)

In [59]:
EG_ELC_ACCS_ZS = wb.data.DataFrame('EG.ELC.ACCS.ZS')
print(EG_ELC_ACCS_ZS)

         YR1960  YR1961  YR1962  YR1963  YR1964  YR1965  YR1966  YR1967  \
economy
ABW         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
AFE         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
AFG         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
AFW         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
AGO         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
...         ...     ...     ...     ...     ...     ...     ...     ...
XKX         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
YEM         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
ZAF         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
ZMB         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
ZWE         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

         YR1968  YR1969  ...      YR2012      YR2013      YR2014      YR2015  \
economy                  ...
ABW         NaN     NaN  ...  100.000000  100.000000  100.000000  100.000000
AFE         NaN     NaN  ...   31.682318   31.610692   31.824950   33.744405
AFG         NaN     NaN  ...   69.099998   68.290649   89.500000   71.500000
AFW         NaN     NaN  ...   44.137410   47.029335   47.587145   46.750946
AGO         NaN     NaN  ...   37.131321   38.278030   32.000000   42.000000
...         ...     ...  ...         ...         ...         ...         ...
XKX         NaN     NaN  ...   99.750000   99.750000   99.680000   99.860001
YEM         NaN     NaN  ...   52.410000   75.599998   66.099998   67.310928
ZAF         NaN     NaN  ...   85.300003   85.199997   85.900002   85.300003
ZMB         NaN     NaN  ...   29.012726   29.886272   27.900000   31.100000
ZWE         NaN     NaN  ...   44.000000   40.498375   32.299999   33.700001

             YR2016      YR2017      YR2018      YR2019      YR2020  YR2021
economy
ABW      100.000000  100.000000  100.000000  100.000000  100.000000     NaN
AFE       38.733352   40.092163   42.880977   44.073912   45.609604     NaN
AFG       97.699997   97.699997   96.616135   97.699997   97.699997     NaN
AFW       50.931399   48.835062   51.238518   51.260220   52.082053     NaN
AGO       41.813129   43.013260   45.290001   45.642799   46.890610     NaN
...             ...         ...         ...         ...         ...     ...
XKX       99.800003   99.800003         NaN  100.000000         NaN     NaN
YEM       68.859505   79.199997   62.000000   72.751076   73.757927     NaN
ZAF       83.900002   84.400002   84.699997   85.000000   84.385536     NaN
ZMB       35.425453   40.299999   40.317890   43.000000   44.524475     NaN
ZWE       42.561729   44.178635   45.572647   46.781475   52.747669     NaN

[266 rows x 62 columns]

In [69]:
EG_ELC_ACCS_ZS = wb.data.DataFrame('EG.ELC.ACCS.ZS', time=2015, labels=True)
print(EG_ELC_ACCS_ZS)

                                Country  EG.ELC.ACCS.ZS
economy
ZWE                            Zimbabwe       33.700001
ZMB                              Zambia       31.100000
YEM                         Yemen, Rep.       67.310928
PSE                  West Bank and Gaza       99.900002
VIR               Virgin Islands (U.S.)      100.000000
...                                 ...             ...
CEB      Central Europe and the Baltics      100.000000
CSS              Caribbean small states       95.736090
ARB                          Arab World       88.891130
AFW          Africa Western and Central       46.750946
AFE         Africa Eastern and Southern       33.744405

[266 rows x 2 columns]